@model bool

<span>
    <i class="glyphicon @(Model ? "glyphicon-star" : "glyphicon-star-empty")"
       data-toggle="star"
       data-id="@ViewBag.Id"
       style="color: lawngreen;"></i>
</span>

